.tracking-body
{
    margin-top: 100px;
    margin-bottom: 100px;
    
    margin-right: auto;
    margin-left: auto;

    padding-right: 30px;
    padding-left: 30px;

    max-width: 850px;
}

.link-to-orders-page
{
    margin-bottom: 30px;
    font-size: 18px;
    display: inline-block;
}

.product-arriving-date
{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-name
{
    margin-bottom: 5px;
}

.product-quantity
{
    margin-bottom: 20px;
}


.product-image
{
    max-width: 150px;
    max-height: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.progress-label-container
{
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.green-text
{
    color: rgb(6, 135, 98);
}

@media(max-width:575px)
{
    .progress-label-container
    {
        font-size: 16px;
    }
}

@media(max-width : 500px)
{
    .progress-label-container
    {
        flex-direction: column;
        margin-bottom: 65px;
    }
    .progress-label
    {
        margin-bottom: 10px;
    }
}
.progress-container {
    width: 100%;  /* Full width of the container */
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 25px; /* Rounded corners */
    overflow: hidden; /* Prevent overflow of the progress bar */
    margin-top: 10px; /* Space above the container */
}
@keyframes progressBar {
    from { width: 0%; }
    to { width: 70%; } /* Adjust percentage */
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #008000;
    animation: progressBar 4s ease-in-out forwards;
    border-radius: 25px;
}

